.App{
  width: 100%;
  height: 100vh;
  font-size: 18px;
}
/*HeaderComponent*/
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: goldenrod; 
  width: 100%;
  z-index: 10;
  height: 90px;
}

header .title h3{
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: goldenrod;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: darkmagenta;
}
/*HomeComponent*/
.hero {
  background-image: url("./Images/23120760_l.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  z-index: 1;
}
.hero::after {
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba(37,39,71, 0.7);
  z-index: -1;
}

.hero h1,p{
  padding-top: 30px;
  margin-top: 100px;
}




h1,
h2,
h3,
h4,
 .display-4 {
  font: weight 700px; ;
}


img {
  width: 300px;
  height: 500px;
}

.container {
  height: 100vh;
  padding: 120px;
}


/*SkillComponent*/
.service {
  margin-top: 80px;
  margin-bottom: 60px;
}

#askill img {
  object-fit: cover;
  margin-bottom: 12px;
  margin-top: 12px;
  height: 300px;
 }

 .col-img{
  background-image: url("./Images/main.jpg");
  background-size: cover;
  background-position: center;
  min-height: 500px;
  margin-top: 80px;
  margin-bottom: 60px;
}


.skilltitle {
  font-family: Yu Mincho;
}

.title {
  font-family: Yu Mincho;
}
